.wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  @include for-narrow-layout {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
  }
  @include for-mobile-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    &.passengers {
      flex-direction: column-reverse;
    }
  }
}

.primary-title {
  font-size: rem(40px);
  color: $clr1;
  font-weight: normal;
}

.secondary-title {
  font-size: rem(28px);
  color: $clr8;
  font-family: AssistantSemiBold;
  @include for-mobile-layout {
    font-size: rem(25px);
  }
}

.tertiary-title {
  font-size: rem(28px);
  font-weight: bold;
  @include for-narrow-layout{
    margin-bottom: 22px;
  }
  @include for-mobile-layout {
    font-size: rem(24px);
  }
}
