.cloud {
  z-index: 1;
  position: absolute;
}

.cloud-1 {
  background: url('../images/cloud-1.svg') no-repeat;
  width: 46px;
  height: 33px;
  top: 60px;
  animation: movingClound 60s linear infinite;
}

.cloud-2 {
  background: url('../images/cloud-2.svg') no-repeat;
  width: 58px;
  height: 40px;
  top: 180px;
  animation: movingClound 80s linear infinite;
}

.cloud-3 {
  background: url('../images/cloud-3.svg') no-repeat;
  width: 99px;
  height: 68px;
  top: 350px;
  animation: movingClound 100s linear infinite;
}

@keyframes movingClound {
  0% {
    right: -100px;
  }
  100% {
    right: 100%;
  }
}
