.connection {
  z-index: 1;
  @include for-narrow-layout {
    background: $clr5;
    box-shadow: 0 0 13px rgba(47, 73, 166, 0.1);
    max-width: 512px;
    width: 100%;
    border-radius: 24px 24px 0 0;
    margin-top: 82px;
  }
  @include for-mobile-layout {
    width: 100%;
  }
  &-actions {
    padding: 1.5rem 2rem;
    @include for-mobile-layout {
      display: none;
    }
    &-back {
      color: $clr8;
      width: 13px;
      background: url('../../images/back-arrow.svg') no-repeat;
      background-size: 100%;
      transform: rotate(180deg);
    }
    &-bullets {
      &-dot {
        width: 9.6px;
        height: 9.6px;
        border-radius: 50%;
        background-color: $clr6;
        display: inline-block;
        &:not(:first-child) {
          margin-right: 8px;
        }
        &.current {
          background-color: $clr4;
        }
      }
    }
  }
  &-description {
    color: $clr3;
    opacity: 0.7;
    font-weight: bold;
    letter-spacing: 0.05px;
    margin: 0.5rem 0 1.7rem 0;
  }
  &-form {
    position: relative;
    text-align: center;
    &-inner {
      @include for-narrow-layout {
        padding: 5.5rem 4.3rem 0 3.6rem;
        background: url('../images/connection-bg.png') center no-repeat;
      }
      @include for-mobile-layout {
        padding: 2rem 1.5rem 0 1.5rem;
      }
      &-field {
        height: 32px;
        width: 100%;
        position: relative;
        font-size: rem(25px);
        margin: 0 0 47px;
        border-bottom: 1px solid rgba(27, 38, 182, 0.3); //Hex #2F49A6
        @include for-mobile-layout {
          margin: 40px 0 0;
        }
        &-input {
          height: 100%;
          width: 100%;
          border: none;
          color: $clr2;
          font-size: rem(20px);
          background: none;
          &:not(:focus):valid ~ label,
          &:focus ~ label {
            transform: translateY(-20px);
            font-size: rem(16px);
            color: $clr2;
            opacity: 0.55;
            @include for-mobile-layout {
              font-size: rem(14px);
            }
          }
        }
        &-label {
          position: absolute;
          right: 0;
          bottom: 3px;
          color: $clr2;
          opacity: 0.55;
          pointer-events: none;
          font-size: rem(20px);
          transition: all 0.3s ease;
        }
      }
    }
    &-button {
      @include for-narrow-layout {
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
        padding: 30px 90px;
      }
      &-btn {
        border-radius: 24px;
        background-color: $clr2;
        max-width: 327px;
        width: 100%;
        color: $clr5;
        height: 42px;
        border: 0;
        font-size: rem(16px);
        @include for-mobile-layout {
          max-width: 280px;
          margin-top: 60px;
        }
      }
    }
  }
}
