.welcome {
  background: url('../images/welcome.svg') no-repeat 14px 0;
  background-size: 97%;
  margin: 240px auto;
  max-width: 495px;
  height: 550px;
  width: 100%;
  text-align: center;
  color: $clr1;
  @include for-mobile-layout {
    width: 290px;
    height: 350px;
  }
  &-title {
    font-size: rem(55px);
    font-family: AssistantBold;
    @include for-narrow-layout{
      margin-right: 60px;
    }
    @include for-mobile-layout {
      font-size: rem(40px);
    }
  }
  &-description {
    font-size: rem(25px);
    font-family: AssistantSemiBold;
    opacity: 0.7;
    margin-top: 0;
    @include for-narrow-layout{
      margin-right: 60px;
    }
    @include for-mobile-layout {
      font-size: rem(18px);
    }
  }
}
