@font-face {
  font-family: Assistant;
  src: url(/assets/fonts/Assistant/Assistant-Regular.ttf);
}

@font-face {
  font-family: AssistantSemiBold;
  src: url(/assets/fonts/Assistant/Assistant-SemiBold.ttf);
}
