// COLOR PALETTE

$clr1: #2f425a;
$clr2: #1b26b6;
$clr3: #1d1d1d;
$clr4: #ff7e99;
$clr5: #ffffff;
$clr6: #e6edff;
$clr7: #f1f4ff;
$clr8: #343434;
$clr9: #5262CE;

// LAYOUT BREAKPOINTS

$break-narrow: 767px;
$break-normal: 1200px;
$break-wide: 1281px;

